/*===============================================*/
/* 09. Mobile, Tablet                            */
/*===============================================*/


/*Responsive*/
@media (max-width:1200px) {
	/*Story*/
	.bd:hover .second_border {
	  top: 0;
	  right: 13px;
	}
	.bd:hover .second_border_right {
		top: 0;
	  left: 13px;
	}
	.second_border,
	.second_border_right {
		width: 93%;
	}
	/*Multipage*/
	.img_1 {
		margin-left: -30px;
	}
	.img_2 {
		margin-right: -30px;
	}
}
@media (max-width:1100px){
	.simple_block {
		padding: 56px 45px 46px;
	}
	h2.without_after {
		margin-top: 30px;
		margin-bottom: 50px;
	}
	/*Portfolio Poloroid*/
	.portfolio_poloroid,
	.portfolio_poloroid.news_poloroid {
		margin:0px auto;
		position:relative;
		height:500px;
		width:800px;
		margin-bottom: 350px;
		margin-top: 100px;
	}

	/*Story*/
		img.img_height {
		min-width: 400px;
	}
	/*Multipage*/
	.name_left,
	.name_right {
		display: none;
	}

}
@media (max-width:1024px){
	h3 {
		font: 400 42px/48px Bree Serif, Arial;
	}
}

@media (max-width:1000px){

	.mobile .iphone,
	.top_menu, 
	.header_address,
	.browsers,
	.logo_und,
	.mobile.landscape .slide_desq,
	.mobile.landscape .scroll_down,
	.first_step .header_lang ul  {
		display: none;
	}
	.fixed, 
	.tablet .fixed {
		background-attachment:scroll!important;
	}
	.section_outter,
	.section_inner,
	.section_innerpage {
		text-align: center;
	}
	.icon_box i {
		position: relative;
	}
	.icon_box_content {
		padding: 0;
	}
		.icon_box h4:after,
		.text-left .icon_box h4:after,
		.text-right .icon_box h4:after {
			margin-left: auto;
			margin-right: auto;
		}
	.header_lang {
		right: 15px;
	}
	.slide_title {
		font:900 40px Lato, Arial;
		width: 100%;
		text-align: center;
	}
		.slide_title:after {
			margin: 20px auto;
		}
	.slide_desq {
		font:400 18px Lato, Arial;
		text-align: center;
	}
	.slide_txt,
	.slide_txt.slide_center_middle, 
	.slide_txt.slide_center_top, 
	.slide_txt.slide_center_bottom {
		width: 100%;
		left: 0;
		top: 50%;
		transform:translateY(-50%);
		padding: 0 10px;
	}

	.mobile.landscape .slide_txt {
		padding: 0 25px;
	}

		.great_titles h2:after {
			margin: 20px auto;
		}
		h2:after {
			margin: 20px auto;
		}
	.section_inner .container {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.section_outter .container {
		padding-top: 26px;
		padding-bottom: 26px;
	}
	.text-left, .text-right {
		text-align: center;
	}

	header nav {
		height: 52px;
		background: rgba(255,255,255,0.7);
	}
	.around_bl,
	.around_bl:last-child,
	.icon_box:last-child,
	.icon_box {
		margin-bottom: 30px;
	}
	.text-center .icon_box .icon_box_content {
		padding-left: 0;
	}
	header nav.transp_nav {
		background: none;
	}
	.second_step .top_menu li.current:before {
		top: 16%;
		left: 65px;
		background-image: url(../images/arrow_wht.png);
		width: 100px;
		height: 9px;
	}
	.first_step header nav.transp_nav {
		background: rgba(255,255,255,0.9);
	}
	.logo,
	.tablet.portrait .logo {
		top: 17px;
		z-index: 3;
	}

	.header_tech {
		height: 26px;
		padding: 0;
	}
		.first_step .header_tech {
			height: 0;
		}
	.header_lang .parent ul {
		padding: 1px 0 0 0;
	}
	.portfolio_item,
	.container-fluid .portfolio_item  {
		width: 100%;
	}
	.port_titles {
		text-align: left;
	}
	.slider_copyright {
		left: 10px;
		bottom: 20px;
	}
	.top {
		width: 40px;
		height: 40px;
		right: 20px;
		bottom: 20px;
	}

	.middle_titles h2 {
		font:900 64px hensa, Arial;
	}
	.wht_txt .small_arrow h2:after {
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio_footer_grey:after,
	.portfolio_footer_white:after {
		display: none;
	}
	.team_slider .owl-prev {
		left: 20px;
	}
	.team_slider .owl-next {
		right: 20px;
	}
	.auto_height .image_bck[data-image] {
		min-height: 400px;
	}
	.simple_block {
		padding: 56px 15px 46px;
	}
	.simple_block h2:after, 
	h2:after {
		margin-left: auto;
		margin-right: auto;
	}
	.news_block {
		margin-bottom: 40px;
		text-align: center;
	}
	.news_img {
		height: auto;
	}
	.form-control {
		margin-bottom: 10px;
	}
	form {
		margin-bottom: 20px;
	}
	.icon_boxes {
		margin-top: 0;
	}
	.icon_box:last-child, .anim_box:last-child {
		margin-bottom: 0;
	}
	footer {
		text-align: center;
	}
	footer h4:after {
		margin-left: auto;
		margin-right: auto;
	}
	/*Inside Pages*/
	.breadcrumbs {
		text-align: center;
	}
	.page_title_great {
		padding-top: 95px;
	}

	/*Mobile Top Menu*/
	.top_menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding-top: 50px;
	}
	.top_menu_cont:after {
		display: block;
		content: '';
		width: 100%;
		height: 52px;
		background: #000;
		left: 0;
		right: 0;
		top: 0;
		position: fixed;
	}
	.top_menu_cont {
		background: rgba(0,0,0,0.95);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		display: none;
	}
	.header_search_cont input {
		margin-bottom: 0;
	}
	.header_search_cont form {
		margin-bottom: 0;
	}
	.header_search_cont {
		width: 100%;
	}
	.first_step .transp_nav .top_menu a:hover,
	.first_step header nav.transp_nav ul a {
		color: #fff;
	}
	.top_menu > li > a {
		padding: 13px 25px;
		height: 52px;
		color: #fff!important;
	}
	.top_menu > li > a:before {
		display: none!important;
	}
	.tablet.portrait .top_menu > li > a {
		padding: 13px 25px;
		height: 52px;
		color: #fff;
	}
	.parent ul, 
	.parent ul.mega-menu, 
	.parent ul, 
	.parent ul.mega-menu {
		position: relative;
		white-space:normal;
		width: 100%;
		background: none;
	}
	.transp_nav .top_menu li:hover > a:before {
		display: none;
	}
	.parent ul .mega-menu-column {
		width: 100%;
		margin-bottom: 20px;
	}
	header nav ul.top_menu li {
		float: none;
		height: auto;
	}
	/*Mobile Menu*/
	.top_menu_mobile_link {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 18px;
		padding: 15px;
		display: none;
		cursor: pointer;
		z-index: 3;
	}

	.top_menu_mobile_link,
	.active .top_menu_mobile_link {
		display: block;
		right: 0;
	}
	.header_search {
		display: none;
	}
	.header_search span {
		padding: 15px;
		color: #fff;
		font-size: 18px;
	}

	header nav.active .top_menu_mobile_link, 
	header nav.active .logo {
		color: #fff;
	}
	/*Portfolio*/
	.port_title {
		font: 400 18px/24px Lato, Arial,sans-serif;
	}
	.port_subtitle {
		font: 400 14px/22px Lato, Arial,sans-serif;
	}
	/*Text Align*/
	.mobile-text-left {
		text-align: left;
	}
	.mobile-text-right {
		text-align: right;
	}

	.mobile_menu {
		display: none;
	}
	.mobile_menu_hor_padding,
	.mobile_menu_hor_padding.active,
	.first_step header nav.mobile_menu_hor_padding {
		top: 0;
		left: 0;
		right: 0;
		opacity: 1;
		pointer-events:auto;
	}
	.tablet .auto_height .slider_copyright {
		left: 20px;
	}
	.auto_height .slider_copyright {
		left: 20px;
	}
	.slider_copyright.slider_copyright_right,
	.slider_copyright_right {
		left: auto;
		right: 20px;
	}
	.slide_txt {
		text-align: center;
		bottom: auto;
		top: 50%;
		transform:translateY(-50%);
		left: 0;
	}
	.team_slider_single .news_block {
		width: 100%;
	}
	.reply {
		padding-left: 20px;
		text-align: left;
	}
	.add-to-box {
		text-align: center;
	}
	.add-to-cart {
		margin-right: auto;
		margin-left: auto;
	}
	/*Header Login Form*/
	.header_login .btn {
		padding: 5px 15px;
	}
	.header_login {
		padding: 12px 0;
		margin-right: 40px;
		position: relative;
		z-index: 3;
	}
	/*Story*/
	.story_row {
		margin-bottom: 0;
	}
	.second_border_right,
	.second_border {
    height: 98%;
    width: 93%;
    border: 4px solid #e4d4fb;
    position: absolute;
    z-index: 1;
    top: -16px;
    left: 31px;
	}
	.portfolio_item_cont.story_cont {
	  margin-bottom: 40px;

	}
	.text-center p {
		margin-bottom: 40px;
	}
	.bd:hover .second_border {
	  top: 0;
	  left: 13px;
	  height: 91%;
	}
	.bd:hover .second_border_right {
		top: 0;
	  left: 13px;
	  height: 91%;
	}
	.countdown-section {
	  padding: 40px 50px 20px 50px;
	  width: 100%;  
	}
	.countdown .countdown-amount {
		font-size: 84px;
	}
	/*Header Couple*/
	.couple_header.white_couple {
	  height: 30px;
	  top: 8px;
	  left: 19px;
	}
	.first_step .couple_header.kissing_couple {
	  top: 8px;
	  height: 30px;
	}
	/*Multipage*/
	.margtop {
		margin-top: 30px;
	}
	.couple {
		padding-bottom: 60px;
	}
.heart_img_1 {
	position: relative;
	height: 417px;
	width: 430px;
}
.heart_img_2 {
	position: relative;
	height: 417px;
	width: 430px;
}
.heart_img_1:before,
 .heart_img_2:before {
 	bottom: 0;
 	height: 421px;
 }
}

@media (max-width:992px){

	/*09.2 Tablet*/
	.tablet.portrait .logo_und {
		display: none;
	}
	/*.slide_txt {
		width: 80%;
	}*/
	.header_lang {
		right: 15px;
	}
	.tablet.portrait .browsers {
		display: none;
	}

	.tablet .great_titles h2 {
		font:900 56px Herr Von Muellerhoff, Arial;
	}

	.tablet.portrait .second_step .logo,
	.tablet.portrait .logo {
		top: 17px;
	}
	.tablet.portrait header nav {
		height: 52px;
	}
	.tablet.portrait .form-control {
		margin-bottom: 10px;
	}
	.text-center .iphone_pink, 
	.text-center .iphone_gold {
		height: 540px;
		width: 185px;
	}

	.simple_block {
		padding: 56px 45px 46px;
	}
	.mate_border:before {
		top: -269px;
	}
  /*Story*/
	.story_txt {
		margin-top: 20px;
	}
	.story_txt p {
		margin-bottom: 60px;
	}
	.second_border_right,
	.second_border {
    width: 96%;
	}
	.story_row {
		padding: 14px 0;
	}
		img.img_height {
		object-position: 0;
	}
	/*Multipage*/
	.img_1,
	.img_2 {
		display: none;
	}

}

@media (max-width:850px){
	/*Inside Pages Journal*/
	.post_journal_img img {
		max-height: 500px;
	}
	/*Scroll Down*/
	.scroll_down {
		display: none;
	}
	/*Soundcloud Container*/
	.music_container {
		display: none;
	}
	/*Footer Border*/
	.water_border:after {
		display: none;
	}
		.portfolio_poloroid {
			margin:0px auto;
			position:relative;
			height:500px;
			width:600px;
			margin-bottom: 350px;
			margin-top: 100px;
		}
	/*Story*/
	.story_txt {
		margin-top: -10px;
	}
		.story_txt p {
			margin-bottom: 30px;
		}
	.second_border_right,
	.second_border {
		display: none;
	}
	.heart_img_1:before, 
	.heart_img_2:before {
		left: -5px;
	}
}
@media (max-height:850px){
 .scroll_down {
 		display: none;
 }
}
@media (max-width:782px){
	/*Header Couple*/
	.couple_header.white_couple {
	  left: 26px;
	}
	.first_step .couple_header.kissing_couple {
	  left: 26px;
	}
}
@media (max-width:650px){

	.slide_txt.slide_right_middle img {
		height: 250px;
	}
	.great_titles h2 {
		font:900 64px hensa, Arial;
		text-align: center;
	}
	.great_titles h2:after {
		background-image: url(../images/arrows_bottom_250.png);
		width: 250px;
		height: 17px;
	}
	h2:after {
		background-image: url(../images/arrows_bottom_250.png);
		width: 250px;
		height: 17px;
	}
	.wht_txt h2:after {
		background-image: url(../images/arrows_wht_bottom_250.png);
		width: 250px;
		height: 16px;
	}
	/*Poloroid Portfolio*/
	.portfolio_poloroid {
		margin:0px auto;
		position:relative;
		height:500px;
		width:400px;
		margin-bottom: 150px;
		margin-top: 100px;
	}

	.portfolio_poloroid .portfolio_item_poloroid:nth-child(1n){
		-webkit-transform:rotate(30deg) scale(0.7,0.7);
		-moz-transform:rotate(30deg) scale(0.7,0.7);
		transform:rotate(30deg) scale(0.7,0.7);
		top:0%;
		left:-6%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(2n) {
		-webkit-transform:rotate(-30deg) scale(0.7,0.7);
		-moz-transform:rotate(-30deg) scale(0.7,0.7);
		transform:rotate(-30deg) scale(0.7,0.7);
		top:37%;
		left:33%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(3n) {
		-webkit-transform:rotate(40deg) scale(0.7,0.7);
		-moz-transform:rotate(40deg) scale(0.7,0.7);
		transform:rotate(40deg) scale(0.7,0.7);
		top:50%;
		left:-10%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(4n) {
		-webkit-transform:rotate(-30deg) scale(0.7,0.7);
		-moz-transform:rotate(-30deg) scale(0.7,0.7);
		transform:rotate(-30deg) scale(0.7,0.7);
		top:0%;
		left:-10%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(5n) {
		-webkit-transform:rotate(-20deg) scale(0.8,0.8);
		-moz-transform:rotate(-20deg) scale(0.8,0.8);
		transform:rotate(-20deg) scale(0.8,0.8);
		top:50%;
		left:12%;
		z-index:3;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(6n) {
		-webkit-transform:rotate(30deg) scale(0.7,0.7);
		-moz-transform:rotate(30deg) scale(0.7,0.7);
		transform:rotate(30deg) scale(0.7,0.7);
		top:70%;
		left:40%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(7n) {
		-webkit-transform:rotate(10deg) scale(0.7,0.7);
		-moz-transform:rotate(10deg) scale(0.7,0.7);
		transform:rotate(10deg) scale(0.7,0.7);
		top:0%;
		left:15%;
	}
	/*Gift Registry*/
	.gifts_img img {
		width: 80%;
		transition: all .6s;
	}
	/*Dandelions*/
	#leafContainer {
		display: none;
	}
}
@media (max-width:568px){

	.top_menu > li > a {
		padding: 13px 16px;
	}
	.heart_img_1,
	.heart_img_2 {
	 position: relative;
	 height: 418px;
	 width: auto;
	}
	.heart_img_1:before,
	 .heart_img_2:before {
	 	display: none;
	 }

}

	@media (max-width:480px){
		.filter-button-group a:after {
			display: none;
		}
		/*.iphone {
			display: none;
		}*/
		.top_menu > li > a {
			padding: 13px 16px;
		}

	.mate_border:before {
		top: -235px;
		height: 282px;
	}
	.portfolio_item_cont.story_cont {
		margin-bottom: 40px;
	}
	.portfolio_poloroid {
		margin:0px auto;
		position:relative;
		height:500px;
		width:300px;
		margin-bottom: 50px;
	}


	.portfolio_poloroid .portfolio_item_poloroid:nth-child(1n){
		-webkit-transform:rotate(30deg) scale(0.7,0.7);
		-moz-transform:rotate(30deg) scale(0.7,0.7);
		transform:rotate(30deg) scale(0.7,0.7);
		top:0%;
		left:-6%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(2n) {
		-webkit-transform:rotate(-30deg) scale(0.7,0.7);
		-moz-transform:rotate(-30deg) scale(0.7,0.7);
		transform:rotate(-30deg) scale(0.7,0.7);
		top:32%;
		left:16%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(3n) {
		-webkit-transform:rotate(40deg) scale(0.7,0.7);
		-moz-transform:rotate(40deg) scale(0.7,0.7);
		transform:rotate(40deg) scale(0.7,0.7);
		top:50%;
		left:-10%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(4n) {
		-webkit-transform:rotate(-30deg) scale(0.7,0.7);
		-moz-transform:rotate(-30deg) scale(0.7,0.7);
		transform:rotate(-30deg) scale(0.7,0.7);
		top:0%;
		left:-10%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(5n) {
		-webkit-transform:rotate(-20deg) scale(0.8,0.8);
		-moz-transform:rotate(-20deg) scale(0.8,0.8);
		transform:rotate(-20deg) scale(0.8,0.8);
		top:50%;
		left:12%;
		z-index:3;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(6n) {
		-webkit-transform:rotate(30deg) scale(0.7,0.7);
		-moz-transform:rotate(30deg) scale(0.7,0.7);
		transform:rotate(30deg) scale(0.7,0.7);
		top:67%;
		left:19%;
	}
	.portfolio_poloroid .portfolio_item_poloroid:nth-child(7n) {
		-webkit-transform:rotate(10deg) scale(0.7,0.7);
		-moz-transform:rotate(10deg) scale(0.7,0.7);
		transform:rotate(10deg) scale(0.7,0.7);
		top:0%;
		left:15%;
	}
	/*Inside Pages Journal*/
	.post_journal_img img {
		max-height: 300px;
	}
}


@media (max-width:425px) {
	h2.without_after {
		font-size: 46px;
	}

	.thin_titles h2 {
		font-size: 46px;
	}
}
@media (max-width:405px){

	img.img_height {
		min-width: 0;
	}
	.portfolio_item_cont.story_cont {
		height: 300px;
	}

	h3 {
		font-size: 36px;
	}
}
@media (max-width: 332px){
	/*Inside Pages Journal*/
	.post_journal_img img {
		max-height: 200px;
		}
	}
	/*Inside Pages Location*/
	.pad_txt {
	padding: 10px 40px 0 40px;
}
	img.img_height {
		object-position: -31px -5px;
	}

}


.mobile .noactive .small_arrow {
	opacity: 1;
}