html,
body {		
	padding-top: 3%;
	padding-bottom : 60px;
	
	background: url(../images/thanks/1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: 'Roboto', sans-serif;

	animation-name: background;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes background {
    0%   {
    	background: url(../images/thanks/1.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
    }
    33%  {
    	background: url(../images/thanks/2.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
    }
    66%  {
    	background: url(../images/thanks/3.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
    }
}

.overlay {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.container{
	width: 70%;

	margin: 0 auto;

	position:absolute;
  	top:50%;
  	left:50%;
  	-ms-transform: translateX(-50%) translateY(-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);

	text-align: center;
	color: white;
}